
@property --tab-indicator-color {
	syntax: "<color>";
	inherits: false;
	initial-value: ""; /* skip if gradient */
}

@property --tab-indicator-gradient {
	syntax: "<image>";
	inherits: false;
	initial-value: ""; /* not needed */
}

:root {
	--tab-indicator-width: 4px;
	--tab-indicator-mix: #999999;
}

@media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
  /* confine tab side indicator to rounded tab box */
  .tab-background {
    position: relative;
  }

  /* active tab side indicator */
  .tab-background[selected=""]::after {
    --tab-indicator-color: light-dark(color-mix(in oklab, var(--zen-main-browser-background) 70%, #000000), color-mix(in oklab, var(--zen-main-browser-background) 40%, #ffffff));
    --tab-indicator-gradient: var(--zen-main-browser-background);
    content: "";
    position: absolute;
    width: var(--uc-theme-tab_indicator-width);
    height: 100%;
    background-color: var(--uc-theme-tab_indicator-color); /* config active tab side strip color */
    background-image: var(--uc-theme-tab_indicator-gradient), linear-gradient(var(--tab-indicator-mix));
  }
  
  #main-window[zen-should-be-dark-mode="true"] {
    .tab-background::after {
      background-blend-mode: lighten;
      --tab-indicator-mix: #999999;
    }
  }
  
  #main-window[zen-should-be-dark-mode="false"] {
    .tab-background::after {
      background-blend-mode: darken;
      --tab-indicator-mix: #666666;
    }
  }

  /* remove tab close button */
  @media (-moz-bool-pref: "uc.theme.hide-tab-close-button.enabled") {
    image.tab-close-button {
      display: none !important;
    }
  }

  /* configure tab close button size */
  image.tab-close-button {
    width: var(--uc-theme-tab-close-button-size) !important;
    height: var(--uc-theme-tab-close-button-size) !important;
    min-width: var(--uc-theme-tab-close-button-size) !important;
  }
  
  /* remove audio icon if sound plays */
  .tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked]) {
    display: none !important;
  }
  
  /* keep favicon visible */
  .tab-icon-image {
    opacity: 1 !important;
  }
  
  .tabbrowser-tab {
    /* restore tab title and show a configurable number of characters */
    .tab-label-container {
      --comptitle-width: var(--uc-theme-comptitle-width);
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      width: var(--comptitle-width);
      right: 0;
      white-space: nowrap;
      background: var(--zen-main-browser-background); /* tab title bg color */
      height: var(--uc-theme-comptitle-height) !important;
      opacity: 1;
      bottom: 0;
      border-radius: var(--uc-theme-comptitle-border-radius);
      font-family: var(--uc-theme-comptitle-font-family);
      font-size: var(--uc-theme-comptitle-font-size);
      display: flex !important;
      align-items: center;
      mask-image: none !important;
      color: var(--text-color-deemphasized); /* tab title color */
    }

    /* show tab title at the top instead */
    @media not (-moz-bool-pref: "uc.theme.comptitle-position-bottom.enabled") {
      .tab-label-container {
        top: 0;
        bottom: auto;
      }
    }

    /* remove the "Playing" subtitle */
    .tab-secondary-label {
      display: none !important;
    }

    /* selected tab title */
    &[selected] .tab-label-container {
      color: var(--text-color);
      background: light-dark(var(--tab-selected-bgcolor), var(--zen-main-browser-background));
    }
    
    /* show tab side indicator if tab makes sounds */
    &:is([soundplaying], [muted]) {
		  .tab-background::after {
		    --tab-indicator-color: light-dark(color-mix(in oklab, var(--zen-main-browser-background) 70%, #000000), color-mix(in oklab, var(--zen-main-browser-background) 40%, #ffffff));
		    --tab-indicator-gradient: var(--zen-main-browser-background);
			  content:"";
			  position: absolute;
			  width: var(--uc-theme-tab_indicator-width) !important;
			  border-radius: 4px !important;
			  height: 50% !important;
			  top: 50%;
			  left: calc(100% - var(--uc-theme-tab_indicator-width)) !important;
			  transform: translateY(-50%);
			  background-color: var(--uc-theme-tab_indicator-color) !important;
			  background-image: var(--uc-theme-tab_indicator-gradient), linear-gradient(var(--tab-indicator-mix)) !important;
		  }

		  &:not([selected='true']) .tab-background::after{
			  height: 25% !important;
		  }
		  
		  &:not([selected='true']):hover .tab-background::after{
			  height: 50% !important;
		  }
	  }
	  
    /* show title on pinned tabs as well */
    @media (-moz-bool-pref: "uc.theme.comptitle-enable-pinned.enabled") {
      .tab-label-container {
        width: var(--comptitle-width) !important;
      }
    }
    
    /* use active text color for all tab titles */
    @media (-moz-bool-pref: "uc.theme.comptitle-default-text.enabled") {
      .tab-label-container {
        color: var(--text-color);
      }
    }
  }
}
